<div class="search" ng-click="home.getRestaurants()" ng-if="!home.noSupport">Search again</div>

<div class="rest" ng-repeat="rest in home.restaurants" ng-if="!home.noGeolocation">
    <img class="close" src="/images/close.svg" ng-if="rest.opening_hours.open_now" />
    <img class="pic" src="/images/not_loaded.svg" />
    <ul class="info">
        <li class="title">{{rest.name}}</li>
        <li class="rating-price">
            <div><img class="star" src="/images/star.svg" /> {{rest.rating}}</div>
            <div ng-if="rest.price_level">
                <img ng-repeat="n in [] | range:rest.price_level" class="pound" src="/images/pound.svg" />
            </div>
        </li>
        <li class="address">{{rest.vicinity}}</li>
    </ul>
</div>

<span class="no-support centered" ng-if="home.error">{{home.error}}</span>