home {
  padding: $gap;
  display: block;
  padding-top: toRem(43);
  background-color: #FFFDFB;
  height: 100vh;

  .search {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    text-align: center;
    background-color: $color2;
    color: #fff;
    padding: $gap;
    cursor: pointer;
    @include border-radius(0, 0, toRem(5), toRem(5));
    @extend .shadow2;
  }

  .no-support {
    width: 80%;
    text-align: center;
  }
}

.rest {
  overflow: auto;
  margin: $gap 0;
  position: relative;
  background-color: #fff;
  @include border-radius(toRem(5));
  @extend .shadow1;

  .close {
    position: absolute;
    right: 4%;
    top: 0;
    width: 30%;
  }

  .pic {
    width: 100%;
    border-bottom: toRem(3) solid $color2;
    display: block;
  }

  .info {
    margin: $gap;
    text-align: center;

    li {
      margin-bottom: $gap;
    }

    .title {
      color: $color1;
      font-size: 1.2em;
    }

    .rating-price {
      font-family: Bold;
      overflow: auto;

      div:nth-child(1) {
        float: left;
      }
      div:nth-child(2) {
        float: right;
      }

      .star, .pound {
        width: toRem(30);
        vertical-align: middle;
      }
    }

    .address {
      color: #949191;
    }
  }
}

// MOBILE
@media (max-width: 550px) {
  .rest .info .rating-price {
    position: absolute;
    top: 0;
    background: rgba(250, 250, 250, .5);
    left: 0;
    padding: 10px;
    @include border-radius(0, 0, toRem(5), 0);

    div:nth-child(1), div:nth-child(2) {
      float: none;
      text-align: left;

      img {
        width: toRem(20);
        font-size: 0.9em;
      }
    }
  }
}
// end MOBILE