<div class="search" ng-click="home.getRestaurants()" ng-if="!home.noSupport">Search again</div>
<ul class="orders">
    <li>Order by:</li>
    <li ng-click="home.changeFilter('rating')">Rating <span ng-show="home.orderBy" ng-class="{'icon-up':home.up, 'icon-down':!home.up}"></span></li>
</ul>

<div class="map-container" ng-show="home.mapDisplayed">
    <span class="icon-close-button" ng-click="home.showMap()"></span>
    <div id="map-canvas"></div>
</div>

<div class="rest" ng-repeat="rest in home.restaurants | orderBy:home.orderBy" ng-if="!home.noGeolocation">
    <img class="pic" ng-src="{{rest.photo}}" />
    <div class="map-text" ng-click="home.showMap(rest.geometry.location.lat, rest.geometry.location.lng)">MAP</div>
    <img class="close" src="/images/close.svg" ng-if="rest.opening_hours.open_now" />
    <ul class="info" ng-class="{'rest-close':rest.opening_hours.open_now}">
        <li class="title">{{rest.name}}</li>
        <li class="rating-price">
            <div><img class="star" src="/images/star.svg" /> {{rest.rating}}</div>
            <div ng-if="rest.price_level">
                <img ng-repeat="n in [] | range:rest.price_level" class="pound" src="/images/pound.svg" />
            </div>
        </li>
        <li class="address">{{rest.vicinity}}</li>
    </ul>
</div>

<span class="no-support centered" ng-if="home.error">{{home.error}}</span>